# Base de datos
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/farmacia_db

# JWT
JWT_SECRET_KEY=clave_secreta_larga_y_aleatoria_cambiar_en_produccion
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# MQTT - EMQX Cloud Serverless
MQTT_HOST=tu-instancia.emqx.cloud
MQTT_PORT=8883
MQTT_USERNAME=backend_service
MQTT_PASSWORD=token_seguro
MQTT_CLIENT_ID=backend-farmacia-cdl
MQTT_TLS_ENABLED=true

# Entorno
ENVIRONMENT=development
